@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "./icon-animations.css";
@import "tailwindcss";
@config "../../tailwind.config.mjs";

:root {
  --c-dark: 5 7 15;
  --c-white: 255 255 255;
  --c-light-blue: 144 188 232;
  --c-ocean-blue: 51 111 232;

  --c-bg: var(--c-dark);
  --c-text: var(--c-white);
  --c-primary: var(--c-light-blue);
  --c-primary-hover: var(--c-ocean-blue);
  --c-ui: var(--c-ocean-blue);
  --c-surface: var(--c-white);
  --c-line: var(--c-white);
}

@layer base {
  html {
    color-scheme: dark;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-bg text-text font-sora antialiased;
    font-feature-settings: "ss01" on, "ss02" on, "cv01" on, "cv02" on;
  }
}

@layer components {
  .page-container {
    @apply container max-w-content;
  }

  .section {
    @apply py-section-m md:py-section-d;
  }

  .card {
    @apply rounded-none bg-surface/2 p-card backdrop-blur-card;
  }
}


::selection {
  background: rgb(var(--c-primary)/0.4);
  color: rgb(var(--c-white));
}





/* =========================================
   REVEAL ANIMATIONS
========================================= */

.reveal {
  opacity: 0;
  filter: blur(12px);
  transform: translate3d(0, 40px, 0);

  transition:
    opacity 1s cubic-bezier(0.22, 1, 0.36, 1),
    transform 1s cubic-bezier(0.22, 1, 0.36, 1),
    filter 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.reveal.visible {
  opacity: 1;
  filter: blur(0px);
  transform: translate3d(0, 0, 0);
}


/* =========================================
   CARD REVEAL
========================================= */

.reveal-card {
  opacity: 0;
  backdrop-filter: blur(16px);
  transform:
    scale(0.85);

  transition:
    opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1),
    transform 1.5s cubic-bezier(0.22, 1, 0.36, 1);

  will-change: opacity, transform;
}

.reveal-card.visible {
  opacity: 1;
  backdrop-filter: blur(16px);
  transform:
    scale(1);
}


/* =========================================
   REVEAL FROM TOP
========================================= */

.reveal-top {
  opacity: 0;

  transform:
    translate3d(0, -24px, 0);

  filter: blur(12px);

  transition:
    opacity 1s cubic-bezier(0.22, 1, 0.36, 1),
    transform 1s cubic-bezier(0.22, 1, 0.36, 1),
    filter 1s cubic-bezier(0.22, 1, 0.36, 1);

  will-change:
    opacity,
    transform,
    filter;
}

.reveal-top.visible {
  opacity: 1;

  transform:
    translate3d(0, 0, 0);

  filter: blur(0px);
}



/* =========================================
   STAGGER DELAYS
========================================= */

.delay-1 {
  transition-delay: 0.1s;
}

.delay-2 {
  transition-delay: 0.5s;
}

.delay-3 {
  transition-delay: 0.6s;
}

.delay-4 {
  transition-delay: 5s;
}





/* =========================================
   WORD REVEAL
========================================= */

.about-reveal {
  line-height: 1.2;
}

.about-word {
  display: inline-block;
  white-space: pre;
}

.about-word {
  opacity: 0;
  filter: blur(12px);

  transition:
    opacity 0.35s linear,
    filter 0.35s linear;

  will-change:
    opacity,
    filter;
}