---
import "../styles/global.css";
import "../styles/hover-border.css";
import Preloader from "../components/Preloader.astro";
import TwistedTorus from '../components/ascii/TwistedTorus.astro';
import CustomCursor from "../components/CustomCursor.astro";

const {
  title = "Website",
  description = "Landing page",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap"
      rel="stylesheet"
    />
    <title>Flow Automation</title>
  </head>

  <body class="bg-bg text-text antialiased">
    <Preloader />
    <TwistedTorus />
    <slot />

    <script src="../scripts/hoverBorder.ts"></script>
  </body>
</html>
